<div class="row">
    {{!-- 自己实现的helper --}}

    <p>{{{post.post}}}</p>
    <div class="meta">
        {{#if post.name}}
            Author: &nbsp;
            <a href="/u/{{post.name}}">{{post.name}}</a>
        {{/if}}
        <p>
            Tags: &nbsp;
            {{#each tags}}
                {{#if this}}
                    <i class="muted fa fa-tag"></i>&nbsp;
                    <a href="/tags/{{this}}" class="tag">{{this}}</a>
                    &nbsp;&nbsp;
                {{/if}}
            {{/each}}
        </p>
        <span class="muted">{{post.time.minute}}</span>
        <p class="info">阅读：{{post.pv}} | 评论：{{post.comments.length}}</p>
    </div>
    {{#self user post}}
        <p>
            <a class="btn btn-default" href="/edit/{{this.post._id}}">编辑</a>
            <a class="btn btn-danger" href="/remove/{{this.post._id}}">删除</a>
        </p>
    {{/self}}

</div>
<div class="row">
    {{#each post.comments}}
        <p>{{{content}}}</p>
        <p><a href="{{website}}">{{name}}</a>
            <span class="info"> 回复于 {{time}}</span></p>
    {{/each}}
</div>

{{> comment}}