
<%- include header %>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a title="主页" href="/">home</a></li>
            <li class="active"><a title="上传" href="/upload">上传</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
            <li><a title="发表" href="/post">post</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= user.name %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a title="登出" href="/logout">logout</a></li>
                </ul>
            <% } else { %>
            <li><a title="登录" href="/login">login</a></li>
            <li><a title="注册" href="/reg">register</a></li>
            <% } %>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<% if (success) { %>
<div><%= success %></div>
<% } %>
<% if (error) { %>
<div><%= error %> </div>
<% } %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/upload" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
                <legend>文件上传</legend>

                <div class="form-group">
                    <input type="file" class="form-control" name="file" id="" >
                </div>

                <button type="submit" class="btn btn-primary btn-block">上传</button>
                <% if (error) { %>
                <div><%= error %> </div>
                <% } %>
            </form>
        </div>
    </div>
</div>

<%- include footer %>
