{{#each posts}}
    <div class="article">
        <h3><a href="/p/{{_id}}" title="{{title}}">{{title}}</a></h3>
        <span class="muted">{{time.minute}}</span>
        {{#if name}}
            &nbsp; - &nbsp;
            <span>Author: </span>
            <a href="/u/{{name}}">
                {{name}}
            </a>
        {{/if}}

        {{#if tags }}
            &nbsp; - &nbsp;
            <span>Tags: </span>
            {{#each tags}}
                {{#if this}}
                    <i class="muted fa fa-tag"></i>&nbsp;
                    <a href="/tags/{{this}}" class="tag">{{this}}</a>
                    &nbsp;&nbsp;
                {{/if}}
            {{/each}}
        {{/if}}
        阅读：{{pv}} | 评论：{{comments.length}}
    </div>
{{/each}}

{{> page}}

